{% extends "ojc.html" %}
{% block body %}
 <p style="text-align:center">
    <span style="font-size:48pt">&#8226;</span><br/>
    <span style="font-size:24pt">Open Journal Club<br/></span>
    <hr style="border:0px; color:black; background-color:black; width:70%; height:1px;"/>
  </p>
  <br/>
  <br/>

  <h2>Threads</h2>
  <ul id="thread_list">
    <li><a href="/threads/how-to-use-the-open-journal-club">How to use the Open Journal Club?</a></li>
    <li><a href="/threads/do-histone-modifications-affect-TF-binding">Do histone modifications affect transcription factor binding?</a></li>
  </ul>

  <script>print_mail('Propose')</script> a new topic.

  <h2>About the Open Journal Club</h2>

  <p>The Open Journal Club is an <em>experimetal</em> literature discussion
  forum. Its aim is to develop <strong>literature mining</strong> and
  <strong>critical discussion</strong> skills.
  </p>

  <p>The Open Journal Club is a webapp powered by
  <a href="https://developers.google.com/appengine/">Google App Engine</a>
  and <a href="http://crocodoc.com/">Crocodoc</a>. For reasons of Internet
  security, you need to login through a
  <a href="https://accounts.google.com/NewAccount">Google</a> account. If
  you prefer to use a
  <a href="https://login.yahoo.com/config/login_verify2?">Yahoo</a> account
  you can couple it to a Google account in a relatively painless way.
  </p>

  <p>The Open Journal Club consists of discussion threads, each attempting
  to answer a single question. As a participant, you can leave comments
  and annotate embedded scientific papers. You can also upload pdf documents
  and propose your own topic of discussion, by
  <script>print_mail('asking the administrator')</script>.
  </p>
  
  <p>A good place to get started with the Open Journal Club is the
  didactic thread
  <a href="/threads/how-to-use-the-open-journal-club">How to use the Open
  Journal Club?</a> It is meant as a practice and testing place, so 
  feel free to leave comments of any kind and practice annotating
  pdf documents in place. Crocodoc, the engine used to annotate pdf
  documents still has a few bugs. In particular, undoing the annotations
  can sometimes cause the page to crash. That's unfortunate, but there
  is not much I can do about it. In any event, you can always download
  the pdf documents.
  </p>

  <p>The Open Journal Club is written in
  <a href="http://python.org/">Python</a> and is open source.
  Please don't hesitate to fork, copy or steal the code from
  <a href="https://github.com/gui11aume/ojournalclub">Github</a>.
  </p>

  <p>As stated in the introduction, the Open Journal Club is an
  <strong>experiment</strong> (technically as much as scientifically).
  We want to learn how to efficiently promote scientific dscussion
  and critical thinking and we want to improve. So don't hesitate to
  give some feedback or ask for support, by
  <script>print_mail('contacting me')</script>.
 
  <div id="bottom_space"></div>


{% endblock %}
