{% extends "base.html" %}
{% block title %}Open Journal Club | The Grand Locus{% endblock %}
{% block head %}<var id="section">#journalclub</var>{% endblock %}
{% block body %}
 <p style="text-align:center">
    <span style="font-size:48pt">&#8226;</span><br/>
    <span style="font-size:24pt">Open Journal Club<br/></span>
    <hr style="border:0px; color:black; background-color:black; width:70%; height:1px;"/>
  </p>
  <br/>
  <br/>

  <h2>Latest threads</h2>
  <ul id="thread_list">
    <li><a href="/threads/sample-question">Sample Question</a></li>
  </ul>
  

  <h2>Conditions of use</h2>

  The open journal club is...

 
  <div id="bottom_space"></div>


{% endblock %}
