{% extends "ojc.html" %}
{% block body %}
 <p style="text-align:center">
    <span style="font-size:48pt">&#8226;</span><br/>
    <span style="font-size:24pt">Open Journal Club<br/></span>
    <hr style="border:0px; color:black; background-color:black; width:70%; height:1px;"/>
  </p>
  <br/>
  <br/>

  <h2>Threads</h2>
  <ul id="thread_list">
    <li><a href="/threads/how-to-use-the-open-journal-club">How to use the Open Journal Club?</a></li>
  </ul>

  <script>print_mail('Propose')</script> a new topic.

  <h2>About the Open Journal Club</h2>

  <p>The open journal club is an online literature discussion
  forum. Its aim is to develop <strong>literature mining</strong> and
  <strong>discussion</strong> skills.
  </p>

  <p>The Open Journal Club is a webapp powered by
  <a href="https://developers.google.com/appengine/">Google App Engine</a>
  and <a href="http://crocodoc.com/">Crocodoc</a>. To participate you
  need to login through a
  <a href="https://accounts.google.com/NewAccount">Google</a> or
  <a href="https://login.yahoo.com/config/login_verify2?">Yahoo</a> account.
  </p>

  <p>The Open Journal Club consists of discussion threads, each attempting
  to answer a single question. As a participant, you can leave comments
  and annotate uploaded scientific papers. You can also upload pdf documents
  and propose your own topic of discussion, but for this you have to
  <script>print_mail('ask the administrator')</script>.
  </p>
  
  <p>A good place to start is the didactic thread
  <a href="/threads/how-to-use-the-open-journal-club">How to use the Open
  Journal Club?</a>. It is meant as a practice and testing place, so 
  feel free to leave commentsi (however relevant) and practice annotating
  pdf documents in place.
  </p>

  <p>The Open Journal Club is written in Python and is open source.
  Please don't hesitate to fork, copy or steal the code from
  <a href="https://github.com/gui11aume/ojournalclub">Github</a>.
  </p>
 
  <div id="bottom_space"></div>


{% endblock %}
